body {
  font-size: 10px;
  background-color: #3E3760;
}


h1{
  font-family: 'Cormorant Garamond', serif;
  font-size: 15em;
  font-weight: 300;
  line-height: 10rem;
  padding-left: 100px;
  color: #DAF7A6;
}
